.dashboard {
  display: flex;
  gap: 30px;
  margin-top: 100px;
  justify-content: center;
}

.card {
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(12px);
  padding: 30px;
  border-radius: 20px;
  width: 220px;
  text-align: center;
  color: white;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.success {
  background: rgba(34,197,94,0.3);
}

.warning {
  background: rgba(245,158,11,0.3);
}
